#overlay {
    position: fixed;
    top: 45%;
    right: 20px;
    height: 100px;
    width: 30px;
    float: right;
    color: rgb(255, 0, 0);
    z-index: 2;
}
.sidedot {
 height: 15px;
 width: 15px;
 border-radius: 100px;
 margin: 25px;
}
.sidedot:hover {
    border: 2px solid rgb(143, 143, 143);
    cursor: pointer;
    height: 11px;
 width: 11px;
}
#overlay ul {
    display: block;
    list-style: circle;
}