#valuescontainer {
    height: 1130px;
    display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   font-size: 36px;
}

#svgscontainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#svgscontainer > div {
    margin: auto;
}

#meline {
    display: inline;
    color: rgb(92, 124, 92);
}

.vectorgraphic {
    width: 33%;
    color: black;
    transform: scale(0, 0);
    transition: 1s;
    opacity: 0;
}

.vectorgraphic.show {
    transform: scale(1, 1);
    transition: 1s;
    opacity: 1;
}

